<div class="d-flex flex-row flex-fill align-items-center">
    <div class="d-flex flex-column flex-fill">
        <h2 class="d-flex mx-3 mt-3">NOVA ADIMISSÃO COOPERADO</h2>
        <p class="d-flex mx-3">Cadastro / Admissão do Cooperado / Nova Adimissão de Cooperado </p>
    </div>
    <div class="d-flex">
        <span matBadge="15" matBadgeColor="warn">
            <img src="/assets/images/bellIcon.png" height="60" width="auto">
        </span>
    </div>
    <div class="d-flex mx-4">
        <a id="viacredi" class="align-self-center">VIACREDI</a>
    </div>
    <div class="d-flex">
        <img src="/assets/images/avatarIcon.png" id="avatar">
    </div>
</div>
